<div flex layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="nav" ng-init="getWatchlists()">
        <md-subheader>Watchlists</md-subheader>
        <md-content>
            <md-button class="md-icon-button" ng-click="toggleSidenav()">
                <i class="material-icons">close</i>
            </md-button>
            <ul>
                <li>
                    <md-button class="md-mini" ng-href="#/watchlist-all" aria-label="description" md-ripple-size="full">All</md-button>
                </li>
                <li ng-repeat="w in watchlists">
                    <md-button class="md-mini" ng-href='#/watchlist?watchlist={{w.id}}' aria-label="description" md-ripple-size="full" ng-click="selectWatchlist(w.id)">{{w.name}}</md-button>
                    <li>
                        <md-button class="md-primary md-raised" md-ripple-size="full" ng-click="addWatchlist()">add</md-button>
                    </li>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <md-button class="md-icon-button" ng-click="toggleSidenav()">
        <i class="material-icons">list</i>
    </md-button>
    <md-content class="md-padding" flex>
        <div ng-cloak>
            <div class="layout-row palette-Lime-600 bg">
                <div class="md-title md-padding">{{watchlistDetail.watchlistName}}</div>
                <md-input-container>
                    <md-checkbox ng-model="watchlistDetail.ira" name="string" ng-disabled="true" aria-label="Is IRA">Is IRA</md-checkbox>
                </md-input-container>
                <div ng-show="watchlistDetail.ira">
                    <md-input-container>
                        <md-checkbox ng-model="aggressive" ng-true-value="true" name="aggressive" aria-label="Aggresive">
                            Aggresive Portofolio
                        </md-checkbox>
                    </md-input-container>
                    <md-input-container>
                        <md-checkbox md-no-ink ng-model="moderate" ng-true-value="true" name="moderate" aria-label="Moderate">
                            Moderate Portfolio
                        </md-checkbox>
                    </md-input-container>
                    <md-input-container>
                        <md-checkbox md-no-ink ng-model="conservative" ng-true-value="true" name="conservative" aria-label="Conservative">
                            Conservative Portfolio
                        </md-checkbox>
                    </md-input-container>
                </div>
            </div>
            <table class="md-padding palette-Blue-Grey-100 bg table" ng-repeat="detail in watchlistDetail.watchLists">
                <tr>
                    <td>
                        <ui-label-large label="symbol" value='detail.quote.ticker'></ui-label-large>
                    </td>
                    <td>
                        <ui-label-large label="name" value='detail.quote.name'></ui-label-large>
                    </td>
                    <td>
                        <ui-label-large label="price" value='detail.quote.currentPrice'></ui-label-large>
                    </td>
                    <td class="md-headline" ng-class="detail.quote.currentPrice > 0 ? 'palette-Green-700 text' : 'palette-Red-700 text'">{{detail.quote.change}}$</td>
                    <td>
                        <md-button class="md-icon-button" ng-click="deleteStockItem(detail.quote.ticker)">
                            <i class="material-icons">delete</i>
                        </md-button>
                        <md-button class="md-icon-button" ng-click="editStockItem()">
                            <i class="material-icons">edit</i>
                        </md-button>
                         <md-button class="md-icon-button" ng-click="editStockItem()">
                            <i class="material-icons">list</i>
                        </md-button>
                    </td>
                </tr>
                <tr ng-show="detail.qty > 0">
                    <td><span>Qty:{{aggressive}}    </span>{{detail.qty}}</td>
                    <td><span>Gain/Loss:</span>
                        <span ng-class="detail.gain > 0 ? 'palette-Green-700 text' : 'palette-Red-700 text'">{{detail.gain}}</span>
                    </td>
                    <td>
                        <span>Acc: {{detail.accountPercentage}}%</span>
                    </td>
                    <td>
                        <span ng-show="aggressive">Agg Rec: {{detail.recPecAggr}}%</span>
                        <span ng-show="moderate">Moderate Rec: {{detail.recPecModerate}}%</span>
                        <span ng-show="conservative">Conservative Rec: {{detail.recPecConservative}}%</span>
                    </td>
                    <td>
                        <ui-label label="Market value" value="detail.marketValue"></ui-label>
                    </td>
                    <td>
                        <ui-label label="Purchase value" value="detail.purchaseValue"></ui-label>
                    </td>
                    <td ng-show="detail.gainlossPerct != 0">
                        <ui-label label="Gain Perc" show-gain-color="true" value="detail.gainlossPerct"></ui-label>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                        <ui-label label="Day low" value="detail.quote.daysLow"></ui-label>
                    </td>
                    <td>
                        <ui-label label="Day high" value="detail.quote.daysHigh"></ui-label>
                    </td>
                    <td>
                        <ui-label label="Market Cap" value="detail.quote.marketCapitalization"></ui-label>
                    </td>
                    <td>
                        <ui-label label="Dividend yield" value="detail.quote.dividendYield"></ui-label>
                    </td>
                    <td>
                        <ui-label label="Watch Date" value="detail.watchDate"></ui-label>
                    </td>
                    <td>
                        <ui-label label="Watch Price" value="detail.watchPrice"></ui-label>
                    </td>
                </tr>
            </table>
        </div>
        <md-button class="md-raised md-primary" ng-click="addToWatchlist()"> Add Stock
        </md-button>
        <md-button class="md-warn md-raised" ng-click="deleteWatchList(currentWatchlist)">
            Delete Watchlist
        </md-button>
    </md-content>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="right" class="md-sidenav-right md-whiteframe-z1 palette-Light-Blue-800">
        <md-content class="layout-column">
            <div layout="row" layout-align="center center">
                <text class="md-headline" layout-align="center center">Messages</text>
            </div>
            <md-list class="palette-Blue-800 text md-dense md-margin">
                <md-list-item class="md-1-line md-whiteframe-z1" ng-repeat="m in messages.messages">
                    <div class="md-list-item-text">{{m.message}}</div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>
